# Ignore python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd


# Ignore MRCS/RCS revision control files
.mrcs/
.mrcs
RCS/
.translation_metadata/

# Ignore Python build/distribution files
build/
dist/
droidlate.egg-info/
android_translator.egg-info/

# Ignore local scratch / temporary testing files
scratch/
test_resources/
.venv/
venv/
.env
